In [58]:
import pandas as pd
df = pd.read_csv('data/test_data.csv')

In [61]:
t = 0.5 * df.shape[0]
df.dropna(how='any', thresh=t, axis=1, inplace=True)
t = df.shape[1] - 2
df.dropna(how='any', thresh=t, axis=0, inplace=True)
df.fillna(
    value={
        'one': df['one'].mean(),
        'two': df['two'].mean(),
        'three': df['three'].mean(),
        'four': df['four'].mode()[0]
    }, inplace=True
)
df

        one       two     three  four
0  1.331587  0.715279 -1.545400   bar
2 -0.008384  0.621336 -0.720086   bar
3  1.000000  0.500000  0.500000   bar
4  0.265512  0.108549  0.004291   bar
5 -0.174600  0.433026  1.203037   bar
6  0.241508  0.567744  1.200000  hist
7 -0.965066  1.028274  0.228630   bar