In [30]:
import pandas as pd
citibike_data = pd.read_csv('data/citibike-tripdata.csv')
cb_df = citibike_data.copy()

cb_df.info()
299831-300000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

-169

In [31]:
start = cb_df['start station id'].nunique()
end = cb_df['end station id'].nunique()
display(cb_df['birth year'].max())
display(cb_df.describe(include='object'))
cb_df['start station name'].value_counts(normalize=True)

2002

,starttime,stoptime,start station name,end station name,usertype
count,300000,300000,299831,299831,300000
unique,299836,299813,759,765,2
top,2018-09-02 13:59:41.7770,2018-09-04 17:51:07.9110,Grand Army Plaza & Central Park S,West St & Chambers St,Subscriber
freq,2,2,1928,1963,232202

Grand Army Plaza & Central Park S    0.006430
Central Park S & 6 Ave               0.006367
Pershing Square North                0.006247
12 Ave & W 40 St                     0.006153
West St & Chambers St                0.006120
                                       ...
NYCBS Depot - GOW                    0.000050
Franklin Ave & Empire Blvd           0.000037
Railroad Ave & Kay Ave               0.000030
47 Ave & Skillman Ave                0.000023
Eastern Pkwy & Washington Ave        0.000020
Name: start station name, Length: 759, dtype: float64

In [32]:
cb_df.drop(['start station id', 'end station id'], axis=1, inplace=True)

In [33]:
cb_df.shape[1]

12

In [40]:
cb_df['age'] = 2018 - cb_df['birth year'] 
cb_df.drop(['birth year'], axis=1, inplace=True)

KeyError: 'birth year'

In [41]:
mask = cb_df['age'] > 60
cb_df[mask].shape[0]

11837

In [45]:
cb_df['starttime'] = pd.to_datetime(cb_df['starttime'])
cb_df['stoptime'] = pd.to_datetime(cb_df['stoptime'])
cb_df['trip duration'] = cb_df['stoptime'] - cb_df['starttime']
cb_df['trip duration'].mean().seconds

1126

In [50]:
cb_df['weekend'] = cb_df['starttime'].dt.dayofweek
cb_df['weekend'] = cb_df['weekend'].apply(lambda x: 1 if x >=5 else 0)
cb_df[cb_df['weekend'] == 1].shape[0]

115135

In [56]:

def get_time(time):

    if 0<=time<=6:
        time_period = 'night'
    elif 6<time<=12:
        time_period = 'morning'
    elif 12<time<=18:
        time_period = 'day'
    else:
        time_period = 'evening'
    
    return time_period
    
hours = cb_df['starttime'].dt.hour
cb_df['time_of_day'] = hours.apply(get_time)
day_trip = cb_df[cb_df['time_of_day'] == 'day'].shape[0]
night_trip = cb_df[cb_df['time_of_day'] == 'night'].shape[0]
day_trip / night_trip

9.480411004308916